.reservations-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.reservations-container h1 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.reservations-buttons-holder {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  gap: .5rem;
}